img {
    height: 500px;
    width: 500px;
    margin-left: 400px;
}
h3{ font-family: Georgia, 'Times New Roman', Times, serif;}
.video-container{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
video{height: 400px;
   margin-left: 500px;}
p{ align-items: center;}
body{
    background-color: rgb(164, 221, 202);
}